
.imagecont{
    background-image: url(../Images/kayleigh-harrington-6fHRzS9yMj0-unsplash.jpg);
    background-size: cover;
    font-family: 'Arial', sans-serif;
    font-size: 9rem;
    text-align: center;
    color: white;
    /* using weebkit for image in font */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: fixed;
    z-index: 1;
}
.div1{
    width: 200px;
    height: 200px;
    background-color: red;
    position: relative;
    top: 50px;
    left: 50px;

}
.absolute{
    width: 100px;
    height: 100px;
    border-radius: 1000px;
    position: absolute;
    top: -50px;
    left: 50px;
    
}