
*{
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #56B280;
    --dark-color: #272727;
    --light-color: #ffffff;
    --background: #E5E5E5;
    --hover-color: #AED6DA;
    --active-color: #90C3C4;
    --border-color: #D6D6D6;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --shadow-hover-color: rgba(0, 0, 0, 0.2);
    --shadow-active-color: rgba(0, 0, 0, 0.3);
    --transition-duration: 0.3s;
}

body{
    background-color: var(--background);
    color: var(--dark-color);
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6{
    color: var(--primary-color);
}
