*{
    margin: 0;
    padding: 0;
}

nav {
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav__logo {
    max-width: 150px;
}
  
.nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.img1{
    width: 250px;
    height: 250px;
    float: right;
}

.elink{
    text-decoration: none;
    color: black;
}

.btn{
    width: 75px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;

}